asgiref==3.8.1
async-timeout==4.0.3
bleach==6.1.0
Brotli 
certifi 
cffi==1.16.0
charset-normalizer==3.3.2
colorama==0.4.6
contourpy==1.2.1
crispy-bootstrap5==2024.2
cryptography==42.0.7
cycler==0.12.1
diffusers==0.29.2
dj-database-url==2.2.0
Django==5.0.6
django-allauth==0.63.3
django-cors-headers==4.4.0
django-crispy-forms==2.1
django-environ==0.11.2
django-filter==24.2
django-phonenumber-field==7.3.0
django-summernote==0.8.20.0
django-widget-tweaks==1.5.0
djangorestframework==3.15.1
djangorestframework-simplejwt==5.3.1
drf-yasg==1.21.7
environ==1.0
filelock 
fonttools==4.53.1
fsspec==2024.6.1
gmpy2 
gunicorn==22.0.0
huggingface-hub==0.23.4
idna 
importlib_metadata==8.0.0
inflection==0.5.1
intel-openmp==2021.4.0
Jinja2
kiwisolver==1.4.5
MarkupSafe 
matplotlib==3.9.1
mkl==2021.4.0
mkl-fft==1.3.1
mkl-random
mkl-service==2.4.0
mpmath 
networkx 
numpy 
packaging==24.1
phonenumbers==8.13.38
pillow==10.3.0
psycopg2==2.9.9
psycopg2-binary==2.9.9
pycparser==2.22
PyJWT==2.8.0
pyparsing==3.1.2
PySocks 
python-dateutil==2.9.0.post0
python-decouple==3.8
python-dotenv==1.0.1
pytz==2024.1
PyYAML 
redis==5.0.6
regex==2024.5.15
requests==2.32.3
safetensors==0.4.3
six 
sqlparse==0.5.0
sympy 
tbb==2021.13.0
tokenizers==0.19.1
torch==2.3.1
torchvision==0.18.1
tqdm==4.66.4
transformers==4.42.3
typing_extensions==4.12.1
tzdata==2024.1
uritemplate==4.1.1
urllib3==2.2.1
webencodings==0.5.1
whitenoise==6.7.0
win-inet-pton 
zipp==3.19.2
